<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>place</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<table  class="table " style="width: 500px; height: 300px; margin-top: 200px; margin-left: 500px" >
    <thead  style="color: black" class="thead-dark">
    <tr>
        <th scope="col"><b >ID</b></th>
        <th scope="col"><b>X</b></th>
        <th scope="col"><b>Y</b></th>
        <th scope="col"><b>PRICE</b></th>


        <th>
            <a th:href="@{/place/save}">
                <button type="button" class="btn btn-secondary">add place</button>

            </a>

    </tr>
    </thead>
    <tbody>
    <tr th:each="place:${all_places}">
        <td th:text="${place.id}"></td>
        <td th:text="${place.x}"></td>
        <td th:text="${place.y}"></td>
        <td th:text="${place.price}"></td>

        <td>
            <a th:href="@{/place/update/{id}(id=${place.id})}">
                <button style="color: black" type="button" class="btn btn-info">update</button>
            </a>
        </td>

        <td>
            <a th:href="@{/place/delete/{id}(id=${place.id})}">
                <button  style="color: black " type="button" class="btn btn-info">delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>